/*----------------------------------------
  Breakpoint
----------------------------------------*/
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

/*----------------------------------------
	Variables
----------------------------------------*/
:root {
  /* Colors */
  --c-black-primary: #000000;
  --c-black-lv0: #000000;
  --c-black-lv1: #333333;
  --c-black-lv2: #636363;
  --c-black-lv3: #757575;
  --c-black-lv4: #999999;
  --c-black-lv5: #cccccc;
  --c-black-lv6: #e8e8e8;
  --c-black-lv7: #f5f5f5;
  --c-back-ground: #fcfcfc;
  --c-white: #ffffff;

  /* HD（Heading） */
  --hd-xl: clamp(48px, 6vw, 80px);
  --hd-lg: clamp(40px, 5vw, 64px);
  --hd-md: clamp(34px, 4.5vw, 56px);
  --hd-sm: clamp(26px, 3.8vw, 40px);
  --hd-xs: clamp(22px, 3.2vw, 32px);
  --hd-2xs: clamp(18px, 2.8vw, 24px);

  /* TX（Text） */
  --tx-lg: clamp(32px, 4vw, 56px);
  --tx-md: clamp(26px, 3.5vw, 40px);
  --tx-sm: clamp(22px, 3vw, 32px);
  --tx-xs: clamp(18px, 2.6vw, 24px);
  --tx-2xs: clamp(16px, 2.2vw, 20px);
  --tx-3xs: clamp(15px, 2vw, 18px);
  --tx-4xs: clamp(14px, 1.8vw, 16px);

  /* Margin Bottom */
  --mb-xl: clamp(80px, 10vw, 200px);
  --mb-lg: clamp(64px, 8vw, 120px);
  --mb-md: clamp(40px, 6vw, 80px);
  --mb-sm: clamp(32px, 5vw, 64px);
  --mb-xs: clamp(20px, 4vw, 40px);
  --mb-2xs: clamp(16px, 3vw, 32px);
  --mb-3xs: clamp(12px, 2.5vw, 24px);
  --mb-4xs: clamp(8px, 2vw, 16px);
  --mb-5xs: clamp(4px, 1vw, 8px);
}
